<% if (errorMsg && errorMsg.length > 0) { %>
    <div class="alert-danger">
        <%= errorMsg %>
    </div>
<% } %>

<% if (successMsg && successMsg.length > 0) { %>
    <div class="alert-success">
        <%= successMsg %>
    </div>
<% } %>

