<!DOCTYPE html>
<html>
    <head>
        <title>Login to an Account</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <%- include('partials/navbar') %>
        <%- include('partials/flash') %>

        <div class="container">
            <h1>Login</h1>

            <form class="login-form" action="/users/login" method="POST">
                <label>Email Address</label>
                <input type="email" name="email" required="true">

                <label>Password:</label>
                <input type="password" name="password" required="true">
                <button type="submit">Login</button>
            </form>

            <p> Don't have an account? <a href="/users/register">Register Here</a> </p>
        </div>
    </body>
</html>