<!DOCTYPE html>
<html>
    <head>
        <title>Register for an Account</title>
    </head>
    <body>
        <%- include('partials/navbar') %>
        <%- include('partials/flash') %>

        <div class="container">
            <h1>Create an Account</h1>

            <form class="reg-form" action="/users/register" method="POST">
                <label>Full Name</label>
                <input type="text" name="name" required="true">

                <label>Email Address</label>
                <input type="email" name="email" required="true">

                <label>Password:</label>
                <input type="password" name="password" required="true">
                <button type="submit">Register</button>
            </form>

            <p> Already have an account? <a href="/users/login">Login Here</a> </p>
        </div>
    </body>
</html>